<svg class="header-social-accent" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 31" enable-background="new 0 0 32 31" xml:space="preserve">  <image id="image0" width="32" height="32" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAfCAYAAACGVs+MAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
B3RJTUUH5AUdCRgrCuSpkAAABjdJREFUSMetl39snWUVxz/ned/+uu0KHWCEsGk2We9tgaAZg47i
jwy3aaoB4x+sGSTGVVmICQmCbmxR2W3n/IuEaIc/CBv4C5YsGBwiU/xjlrDWzRXb2zpgisRh58bW
2/XXve/z9Y/3Ld51t51xO8nNfZ/3Oef5fp/znnOe8xjzyHBTlulIhObqhW5G+jTQAiwBrgAqgQJw
EngTeBXjZcMORl75ihAaB7fOB4GVBW7+LlGxgJnVS2oD7gVWAJfPZZOIgNPAa8Auc7YPr1EqK8m8
/o2yBu488HQXgQ8MuFXST4EngTVAQwl4ARgFTiX/xZINNQBrgafk9YyMFenVreTSnWUJhKWDwXQW
j8LIT60HHgUWlUyfAg4CPUA/MGIwBVQJPgjcAHwcWA5cBlQBn0MMHH3pQG/inbkJ5NJZwELJ35+A
1ydTY8BezJ4w7NDE1OREXaqWZQPffH+RoUwXNXVX7h3Pj9QirRBsAO4CDplZd7EwrbCiYu4YGE53
0Ti0mcHGbV8CHisB/yuw1cx+BUxmhrZwIYk3Qg2oDezvkg46Z6Rz5W1tONNJ5D3E0f0LYHEy9yeM
+wz6JKNp+MLg85Iyc3h/m2CZmf1W0j/CMMR5CTOrBzaVgA+b2UZEn5m7KHAASeB9RrAL+LGkRx1W
ERUjnCSSVFtd8s2/E/mo1zlHOvfIRYG/T8JIAQuSYQOGwyA0c/WSv5c4agGeN2d7AwWXDNyZARwR
ekjwUWC3l6bMDBtMZ1chPQssBM4YdqfQH5qGt14U6GwZbd15zrj+wH0AhEh3JOAAfRh9Nk+x23Vj
ByPHTlDXkKpCVOMY916FyrCCjmO7z9FNMqJO0rp3TpxoMLOnqz4QHJ8aKd452LjtDmCfI47+Gfmj
9xqzOfC7F7czcXo8qGtIfV7SL4X2y+spM1orazw7P9R+jr4kQGuBx4Edkr4yNRItkvgecD/wwxBY
mugXgX4zyubsDxa3IwmhNuAnxIcRwHLEreP56O7AXO9QutMJXSso4HU8WTdKdCPi6vleMh4JSxYa
B96dy/UGYFYtaUOJzYwsEdxzS9V1vV5+DXExy2N0YPYisU2Dme3xkUbM2QZgOcZrIfGRWsqurCSF
vAa4dg6VRd8/uz94YMGaVcCy5F2LpMMLUqmfLzr8YKnu68mPMAFNJc9VzCkGcBb0JnBTGYWj91Sv
jMCeB7UmHnjFsCA/Pr56sHHbFWa8cGL63dNXVl59O9Jthr0SEjcTqWR318wNb0jRNFg36JZZnug3
s90DxXf4ZM31BxT5zwKRpDNCtwNPAw2Ir19VefWzkrqBZqFhR9zJzHjjRnlPrvn8s3vj289gZjhz
v8dYB/wIeBF4DLP145OFvzhnpAc2KzO05VRmaMuZhHiQrO0EFYkrZ/LMhcTn+yeSl60uCBYQKV/O
Cxvf/hmAuhe3H8CsB6gw3LSQHhx57nyvxfncA3wZcZUZe06Nj/57YU3914RaDXvZco3ZTwk9RxzZ
o8AXgN9d6kp4tKkLMPNe5oq1nmCK64YfxmH0EfdwEPcBHWZWk2vMXjLwXDpL0ftUISo+ECl6ohjm
by5okqHm7ThJebDdwGSi3ybpiz4SucylIZEUsBXEndYGSQ+7iqACRTgzw8z2Ab9J9GuBb7mQld6L
4UtEAjhD3FcCHDdzERjOmUPyeTPbDvwtUVgq0e3MWv559iRDmc7/C3FGzDnM3BGwdUC7mWWjQtGn
Bx+J02Eo00V+7BS1tZevR3qcuP8HeAv4tpntQUxk/ofOaLAxi0Gt0F0YbyH1WFhBZmBTeXIzD7lM
FjMLvPdfRXSWkBgHXjBjJ1hvcJkbi8Y8mYH/ksllurAwRIXpekktQAfQBvzZzNYJjslB8+CWuQnA
TPNIIK+7gSzw4Vnf8BDwKnDE4F/AlOLyfQ1wPfG94CagrsRuRxAEm7z3KtdVn3fy55o6CWurKeQn
liNtBj4DVM9Si4izpkhc5aqBYJbOBPBrw7a/Vzx5aGG4kHSZ2lK29XijeQfT0TSG1UlaS3w3bCEu
VvPdDT1xpPcYtgvHS16cra4MWNp/gRgoS+SGbUxNgguoRfYxoVXASuAjxG1cFTBNfKC9AfSA7Xdw
uOijs6maFEv6H5oPgv8A4e2dMFYg1NMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDEtMDdUMDk6
NDI6NDArMDE6MDA+4LrXAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA1LTI5VDA3OjI0OjQzKzAy
OjAweVMO4gAAAABJRU5ErkJggg==" />
</svg>
