<svg class="header-social-accent" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="32px" viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">  <image id="image0" width="28" height="32" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAgCAMAAAA2a+hwAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACIlBMVEVeT+YAAABtWPVfUOhd
TuRdT+ldT+VcTORdUOZfSORcUOdCQrNdTuVcUehCQrZRUcxcT+ZERLM/P7NeUOdBQbNUStZZSuNd
T+ddT+ZgVelbTeVeUeldTuZcTuVAQLJGRrUYGKFFRbVhVupaTORjU+pgUulcTuVcTuVeT+ZcTuVc
TuVdT+ZcTuVcTuVcTuVdT+ZcTuVcTuVcTuVeUOZcTuVcTuVdT+VcTuVdTuZdT+ZCQrRBQbNcTuVd
TuVcTuVcT+VdT+ZBQbNAQLJAQLJcTuVcTuVcTuVcTuVcTuZdT+ZBQbNAQLJAQLJAQLJAQLJcTuVc
TuVdT+VgUulBQbNAQLNAQLJAQLJcTuVcTuVdT+ZDQ7RBQbNAQLJAQLJcTuVcTuVcTuVcTuVcTuVc
TuVAQLFAQLJcT+ZcTuVcTuVbTuNAQLFeUOldTuZcTuVcTuVeT+dcT+VcTuVdT+ZcTuVeUehdUedd
TuVcTuVAQLJAQLJdT+ZcTuVAQLJAQLJBQbNdTuVdTuZdT+ZcTuVcTuVAQLJAQLJBQbNFRbRcTuVc
TuVcTuVdTuZcTuVcTuVAQLJAQLNBQbRcTuVcTuVdT+ZcTuVcTuVbTuNAQLFBQbJBQbNcTuVcTuVd
T+ZaTuJAQLJcTuVcTuVcT+ZcTuVcTuVdTuVcTuVdT+ZcTuVcTuVdT+ZcTuVcTuVdTuVcTuVcTuVd
TuVcTuVdT+ZdTuZcTuVAQLL///+NgcjyAAAAs3RSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAALdDBOeKI/7XaxL6vk0I8qIuoB4bBC2lYcpcDSKL36Rj97FABRJq1v757JMo
AQhMvvrccxYCMqHyZMn9/MMwaeUZeuBerAEtmu8GRrgPaAEGRuX80Eb04HodWk1Ywvvwmy4BYe6U
QHHauEcG3XY/j+lfq2QQxlxJL0j2qiRZWk/xCE/AE27YJI3qO6sMYr/migEAAAABYktHRLUzDlpL
AAAAB3RJTUUH5AUdCRYu5A1wkQAAAVtJREFUKM+t0UVXQlEYhWGOrdhii92iomJjtyI2ioFgd3d3
N3Z393d/oAhyveI6jtyjvdYzfGnuHp40hBkNvLx91NRxCCxfP38NTQwCsAMCg7RwCMAJDtHWwSFA
aFi4rh5V6BGRJHKjomNi9Q2UZGgUF59AYmISKzklNc1YTiam6Rm8TD4VAbKyc3LNEGLk5RcICIJP
Y1MRoLBIaF5cUlpGEJ8oKhdTESQVlVXVBKFAi5raOiqCuL6BUCKybGxqbsEhQlatbe1iLgaRtU1H
Z63oFwq+ctl2dff0qmBfP9nSTjjAHaTi0PAIiczRlLHxiUklTk3PzNK/cY41v7C4tCxH/srqGkNW
hYIA6xvSza3tHd7unr0DUkWQ7B8cHh3HOTopev5EgJPTMyYZWxVBfP4XXvwrXl7h0fj65nYSh8jZ
5e7+gYVB2Xd9fHrGoSy758srB4fIjfn2LiXxA2Eg+J54VYksAAAAJXRFWHRkYXRlOmNyZWF0ZQAy
MDIxLTAxLTA3VDA5OjQyOjQwKzAxOjAwPuC61wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wNS0y
OVQwNzoyMjo0NiswMjowMCZ1UQIAAAAASUVORK5CYII=" />
</svg>
