// Styling markdown output
// Code formatting
pre {
  border-left: $spacer-1 solid $color-border;
  margin: $spacer-3 0;
  overflow-x: auto;
  padding-left: 16px;
  width: (9 / 12 * 100%); // matches col-9
}

code {
  color: $burnt-sienna;
  font-family: $mono-font-family;
  font-size: 1.2em;
  padding: 1px 0;
}

.prose {
  a {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: underline;
    }
  }

  ol,
  p,
  ul {
    font-size: $prose-font-size;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: (10 / 12 * 100%); // matches col-10
    }
  }

  ol,
  ul {
    padding-left: 40px;
  }

  li {
    margin-bottom: .5em;

    ol li,
    ul li {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;

    @media (min-width: $breakpoint-lg) {
      max-width: (12 / 10 * 100%); // make image fill width of container on desktop
    }
  }

  blockquote {
    border-left: $spacer-1 solid $color-border;
    font-style: italic;
    line-height: 1.375;
    margin: 40px 0 40px -16px;
    padding-left: 20px;

    p {
      font-size: 24px;
    }

    @media (min-width: $breakpoint-lg) {
      margin: $spacer-4 0 $spacer-4 -40px;
      max-width: (11 / 10 * 100%);
      padding-left: $spacer-3;

      p {
        font-size: 32px;
      }
    }
  }

  hr {
    border-style: solid;
    border-width: thin;
    color: $color-body-text;
    margin-bottom: .5em;
    margin-top: .5em;
  }

  dt {
    font-style: italic;
    font-weight: bold;
    line-height: 1.25;
  }

  dd {
    font-style: italic;
    margin-bottom: .5em;
  }
  // Markdown tables
  table {
    border-collapse: collapse;
    display: block;
    margin-bottom: 1.5em;
    overflow: auto;
    width: 100%;
    // For Firefox to horizontally scroll wider tables.
    word-break: normal;
    // word-break: keep-all;

    td,
    th {
      border-bottom: 1px solid $color-body-text;
      border-top: 1px solid $color-body-text;
      font-weight: bold;
      padding: $spacer-2 $spacer-3 $spacer-2 2px;
      text-align: left;
    }

    tr {
      background-color: $white;
      border-bottom: 2px solid $color-body-text;
      border-top: 1px solid $color-body-text;
    }

    th {
      border-bottom: 2px solid $color-body-text;
      border-top: 2px solid $color-body-text;
    }
  }
}
