---
layout: page
---
{{ site.github.releases }}
{% assign n_releases = site.github.releases | size %}
<p class="prose">
This project uses <b><em><a href="https://www.conventionalcommits.org/en/v1.0.0/">Conventional Commits</a></em></b> and <b><em><a href="https://semantic-release.gitbook.io/">Semantic Release</a></em></b> to automate releases via the commit log.
</p>
{% if n_releases > 1 %}
<ul>
{% for v in site.github.releases  %}
  <li>{{ v }}</li>
{% endfor %}
</ul>
{% else %}
<h2>No releases yet</h2>
{% endif %}
